* {
  box-sizing: content-box;
}

:root {
  --background: #d9a91a;
  --navbar: #442a14;
  --input_fill: #888888;
  --inside_input_fill: #424141;
  --book_title: #584604;
  --book_subtitle: #fff;
  --book_author: #7b2500;
  --nothing_background: #8c5b00;
  --scrollbar-track: #c89600;
  --lineBetween: #57300e;
}

.App {
  min-height: 100vh;
  background-color: var(--background);
}

.more {
  display: flex;
  width: 25px;
  justify-content: space-between;
  padding: 10px 10px;
  cursor: pointer;
}

.circle {
  height: 7px;
  width: 7px;
  background-color: var(--input_fill);
  border-radius: 15px;
}

.navbar {
  position: relative;
  display: flex;
  background-color: var(--navbar);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}

.navbar__logo {
  width: 20%;
  color: var(--book_subtitle);
  font-size: 20px;
}

.navbar__logo p {
  margin-left: 25px;
}

.navbar__search {
  width: 75%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__search--base {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  background: var(--input_fill);
  border: none;
  border-radius: 8px;
  padding: 0 5px;
}

.navbar__search--input {
  width: 90%;
  height: inherit;
  background: var(--input_fill);
  border: none;
  border-radius: 8px;
  padding: 0 5px;
  outline: none;
}

.navbar__search--information {
  color: red;
  position: absolute;
  bottom: 0;
  width: 50%;
  font-size: 10px;
}

.navbar__search--button {
  display: flex;
  color: var(--inside_input_fill);
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.navbar__search--input::placeholder {
  text-align: center;
  color: var(--inside_input_fill);
}

.navbar__userprofile {
  display: flex;
  justify-content: flex-end;
  width: 20%;
}

.navbar__userprofile--button {
  width: 40px;
  height: 40px;
  background-color: var(--input_fill);
  border-radius: 25px;
  margin-right: 25px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  margin-top: 15px;
  width: 100%;
}

.nothing {
  height: 80vh;
  display: flex;
  align-items: center;
}

.nothing__information {
  height: auto;
  background: var(--nothing_background);
  font-size: 50px;
  padding: 20px;
  border-radius: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.lineBetween {
  width: 95%;
  background: var(--lineBetween);
  height: 2px;
  margin: 20px 0px;
}

.book {
  min-height: 250px;
  width: 90%;
  display: flex;
  margin: 5px 0;
}

.book__cover {
  position: relative;
  height: 250px;
  width: 210px;
}

.book__cover img {
  height: 250px;
  max-width: 200px;
  min-width: 150px;
}

.book__details {
  padding: 0 20px;
  width: 80%;
}

.book__author {
  color: var(--book_author);
  font-weight: 500;
  font-size: 15px;
  overflow: hidden;
  word-break: normal;
  font-style: italic;
}

.book__title {
  color: var(--book_title);
  height: auto;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
}

.book__subtitle {
  color: var(--book_subtitle);
  height: auto;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

.book__description {
  position: relative;
}

@media screen and (max-width: 500px) {
  .navbar__logo p {
    margin-left: 0;
  }

  .navbar__userprofile {
    width: unset;
  }
  .navbar__userprofile--button {
    margin-right: 0;
  }

  .book {
    flex-direction: column;
    align-items: center;
    word-break: break-word;
  }

  .book__details,
  .book__cover {
    width: unset;
  }

  .nothing__information {
    text-align: center;
    margin: 0 8vw;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--book_title);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--header);
}
